#mainToolbar{
	min-height: 85px;
}

.toolbar__logo{
	top: -85%;
}

.toolbar__logo{
    top: -81%;
    left: -47%;
}

.wellcome-image{
	position: relative;
	width: 100%;
	min-height: 800px;
	background: url(../images/register.jpg) no-repeat center;
	background-size: cover;
}

.toolbar__links{
	width: 116px;
}

.toolbar__right{
	display: block;
	margin-left: 0;
}

.toolbar__left{
	font-style: italic;
	font-weight: lighter;
}

.card{
	width: 60%;
	min-height: 550px; 
	position: absolute;
	top: 15px;
	left: 20%;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 10px;
}

.card__header{
	color: #26A69A;
	width: 120px;
	margin: 0 auto;
}

.paper-card-0 .card__content {
    padding: 5px;
}

.card__town, .card__search, .card__offer, .card__submit{
	margin-left: 4%;
}

.card__about{
	width: 100%;
	color: green;
}

.btn{
	line-height: 40px;
}

.checkbox{
	margin: 10px 0;
}

.slogan{
	width: 20%;
	text-align: center;
	position: absolute;
	top: 200px;
	right: 15%;
	font-family: 'Quicksand', serif;
	font-style: italic;
	color: white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1); 
}

.slogan{
	display: none;
}

.footer{
	position: absolute;
	bottom: 0;
}

@media only screen and (min-width: 375px) {
	.toolbar__logo{
	    left: -20%;
	}
}

@media only screen and (min-width: 961px) {
	.toolbar__links{
		width: 240px;
	}

	.toolbar__right{
		display: inline-block;
		margin-left: 5px;
	}

	.toolbar__left{
		display: inline-block;
	}

	.slogan{
		display: inline;
	}

	.card{
		width: 40%;
	}
}